@font-face {
    font-family: 'RalewayBold';
    src: url('../fonts/RalewayBold.eot');
    src: url('../fonts/RalewayBold.eot') format('embedded-opentype'),
         url('../fonts/RalewayBold.woff2') format('woff2'),
         url('../fonts/RalewayBold.woff') format('woff'),
         url('../fonts/RalewayBold.ttf') format('truetype'),
         url('../fonts/RalewayBold.svg#RalewayBold') format('svg');
}
@font-face {
    font-family: 'RalewayExtraBold';
    src: url('../fonts/RalewayExtraBold.eot');
    src: url('../fonts/RalewayExtraBold.eot') format('embedded-opentype'),
         url('../fonts/RalewayExtraBold.woff2') format('woff2'),
         url('../fonts/RalewayExtraBold.woff') format('woff'),
         url('../fonts/RalewayExtraBold.ttf') format('truetype'),
         url('../fonts/RalewayExtraBold.svg#RalewayExtraBold') format('svg');
}
@font-face {
    font-family: 'RalewayHeavy';
    src: url('../fonts/RalewayHeavy.eot');
    src: url('../fonts/RalewayHeavy.eot') format('embedded-opentype'),
         url('../fonts/RalewayHeavy.woff2') format('woff2'),
         url('../fonts/RalewayHeavy.woff') format('woff'),
         url('../fonts/RalewayHeavy.ttf') format('truetype'),
         url('../fonts/RalewayHeavy.svg#RalewayHeavy') format('svg');
}


/*	variables	*/
$font-reg: 'RalewayBold', sans-serif;
$font-bold: 'RalewayExtraBold', sans-serif;
$font-heavy: 'RalewayHeavy', sans-serif;

$mobile: "screen and (max-width : 480px)";
$tablet-portrait: "screen and (max-width : 640px)";
$tablet-landscape: "screen and (max-width : 960px)";
$desk: "screen and (max-width : 1180px)";

/* colors */
/* colors */
$lightgreen:	#44b749;
$green:			#2d9e31;
$black:			#170806;
$red:			#ed3123;
$lightred:		#8e0b06;
$white:			#FFFFFF;
$grey:			#9d9d9d;
$darkgrey:		#a2a2a2;
$darkblue:      #191E2B;
$yellow: 		#fff200;