@import "normalize";
@import "css3-mixins";
@import "grid";
@import "variables";

a, a:focus, a:active,  a:hover{text-decoration: none; outline: 0 none;}
a{ color:$white; text-decoration:none;}
input, textarea, button{ border:0 none;
	-webkit-appearance: none;
  	-webkit-border-radius: 0;
}
img {@include transition(.2s, linear);}
h1, h2, h3, h4, h5, h6{ margin:0; font-weight:normal; line-height:1;}
ul{ margin:0; padding:0; list-style:none;}
ol{ margin:0; padding:0;}
ul li, p{ margin:0; padding:0;}
b, strong{ font-family:$font-reg; font-weight:normal;}

::-webkit-input-placeholder { color: $white;}
:-moz-placeholder { color: $white; opacity: 1;}
::-moz-placeholder { color: $white; opacity: 1;}
:-ms-input-placeholder { color: $white;}

*:focus{ outline: none;}
select { background:$white; -webkit-border-radius: 0px;}

/*	@include classes	*/
.clear{ clear:both;
	&:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;}
}
.clearfix:before,.clearfix:after { content: " "; display: table;}
.clearfix:after{ clear: both;}
.clearfix{ *zoom: 1;}

.left{ float:left;}
.right{ float:right;}
.hide{ display:none;}
.show{ display:block;}

.center{ text-align:center;}
.non-mobile{ display:block;}
.mobile{ display:none; }

/*	@exclude mixin	*/
@mixin vertical-align {
  position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);
}
@mixin vertical-align34{
  position: absolute; top: 34%; -webkit-transform: translateY(-34%); -ms-transform: translateY(-34%); transform: translateY(-34%);
}

/* ICON */
@mixin icon($index, $size, $image) {
    line-height: 1; vertical-align: middle;
    &:before {        
        $columns: 3; /*Number of icons going across*/
        background-image: url(../images/#{$image}); background-size: $columns * 100%; background-repeat:no-repeat;
        width: #{$size}px; height: #{$size}px;
        background-position: #{(100/($columns - 1)*($index - 1))}% 0;   
        content: ""; display: inline-block; line-height: #{$size}px; vertical-align: middle; /*margin-right: #{$size/4}px; */
    }
}

.buttons{ text-align:center;
	a, input, button{ display:inline-block; font-size:2.4em; width:auto; font-family:$font-bold; background:$red; color:$white; font-family:$font-heavy; text-transform:uppercase; padding:0.7em 1.5em; margin-top:0.2em;  line-height:1; @include box-sizing; }	
	&.margin-bot{ margin-bottom:5em;}
}

/*	page 	*/
body{  color:$white; background:$black; font-family: $font-reg; font-size:10px; line-height:1;}
.main-container{ overflow:hidden; /*background: #035f93; */position:relative;}
.wrapper-area{ max-width: 1110px; margin:0 auto; width:90%;}

header{ text-align:center; padding:4em 0;  position:absolute; z-index:10; top:0; left:0; width:100%;
	.logo{ float:left; width:35%; text-align:left; margin-top: 0;}	
	.menu{ float:right; width:65%; text-align:right; 
		ul{ display:inline-block; }
		li{ display:block; float:left; padding:0 2em; border-right:2px solid $white;
			a{ font-size:1.8em; text-transform:uppercase; display:block; position:relative; padding:0;
				&::after {position: absolute; bottom: -8px;	left: 0; width: 100%; height: 2px; background: #FFFFFF; content: ''; opacity: 0;						
					@include transform( translateX(-100px));
					@include transition(opacity, 0.3s, ease); @include transition(all, 0.3s, ease);
				}
				&:hover::after{ opacity: 1; @include transform( translateX(0px));}
				&.active{ 
					&::after{ opacity:1; @include transform( translateX(0px));}
				}
			}		
			&:last-child{ border-right:0 none;}	
			
		}
	}
	
}
.mobile-toggle{ display:none; cursor: pointer; background:url(../images/mobile-menu.png) 0 0 no-repeat; position:absolute; z-index:10; right:5%; width: 40px; height:40px; @include transition(all, 200ms, ease-in);}
.open-nav .mobile-toggle { transform: rotate(-90deg); -webkit-transform: rotate(-90deg); }

/*---------------Home----------------*/

.home-banner{
	.slick-slide{
		img{ width:100%; height:auto;}	
	}	
	img{ width:100%; height:auto; display:block;}	
}

.home-intro-copy{ /*@include vertical-align;*/ width:100%; text-align:center; position:absolute; left:0; bottom:40%;
	h1{ font-family:$font-heavy; font-size:4.5em; text-transform:uppercase; letter-spacing:8px; margin-bottom:0.1em;}
	h2{ font-family:$font-heavy; font-size:8em; text-transform:uppercase; letter-spacing:8px; margin-bottom:0.5em;}
	h3{ font-family:$font-heavy; font-size:4.5em; text-transform:uppercase; letter-spacing:2px; margin-bottom:1em;}
	p{ font-size:2.3em; letter-spacing:3px; margin:1em auto; width:90%; line-height:1.2;}
}



/*---------------Quiz----------------*/
.quiz-container{ background: #0e2e47 url(../video/ocean.jpg) no-repeat; background-size:cover; padding:10em 0 5em;
	.quiz-data{ 
		.vertical-middle{ @include vertical-align; width:100%; left:0;}
		.content {	display: block; min-height: 40em; overflow: hidden; position: relative;
			.body { float: left; height: 100%; padding: 0 2.5%; position: absolute; width: 95%;}			
			h1{ text-align:center; text-transform:uppercase; font-size:5em; font-family:$font-heavy; background:url(../images/seprator.gif) center bottom no-repeat; margin-bottom:0.5em; padding:0.4em 0;}
			p{ text-align:center;  margin-bottom:0; font-family:$font-bold; letter-spacing:2px; text-transform:uppercase;
				label{ display:inline-block; font-size:3.2em;}
				&.personal-info{ font-size:3.8em; line-height:1.8;
					input{ font-size:0.7em;}
					input.css-checkbox[type="radio"] + label.css-label{ font-size:1em; font-family:$font-reg; margin:0 0.1em 0.1em; padding-left:1em; text-transform:capitalize;}
					span{  border-bottom:2px solid $white;}
				}
			}
		}
		.steps { max-width:910px; margin:5em auto 0; background:url(../images/quiz-steps-bg.png) center bottom no-repeat; background-size:100% auto;
			ul{ 
				li{ display:inline-block; width:14.28%; padding-bottom:1em; position:relative;
					.number{ display:none; width:100%; height:auto; min-height:64px; width:100%; background-size:contain; background-position:center center; background-repeat:no-repeat;
						label{ display:none;}
					}
					.current-info {	left: -999em; position: absolute;}
					&:nth-child(1){ 
						.number{ background-image:url(../images/icon-swim-step1.png);}
					}
					&:nth-child(2){ 
						.number{ background-image:url(../images/icon-swim-step2.png);}
					}
					&:nth-child(3){ 
						.number{ background-image:url(../images/icon-swim-step3.png);}
					}
					&:nth-child(4){ 
						.number{ background-image:url(../images/icon-swim-step4.png);}
					}
					&:nth-child(5){ 
						.number{ background-image:url(../images/icon-swim-step2.png);}
					}
					&:nth-child(6){ 
						.number{ background-image:url(../images/icon-swim-step3.png);}
					}
					&:nth-child(7){ 
						.number{ background-image:url(../images/icon-swim-step4.png);}
					}
					&.current{
						.number{ display:block;}	
					}
				}
			}
			&.nonswimmer{
				ul{
					li{
						&:nth-child(2){ 
							.number{ background-image:url(../images/icon-nonswim-step2.png);}
						}
						&:nth-child(3){ 
							.number{ background-image:url(../images/icon-nonswim-step3.png);}
						}
						&:nth-child(4){ 
							.number{ background-image:url(../images/icon-nonswim-step4.png);}
						}
						&:nth-child(5){ 
							.number{ background-image:url(../images/icon-nonswim-step2.png);}
						}
						&:nth-child(6){ 
							.number{ background-image:url(../images/icon-nonswim-step3.png);}
						}
						&:nth-child(7){ 
							.number{ background-image:url(../images/icon-nonswim-step4.png);}
						}	
					}	
				}	
			}			
		}
		.errorMsg{ position:absolute; bottom:0; width:100%; left:0; color:$red; text-align:center; font-size:2em;}
		/*---Form----*/
		input[type="text"]{ background:none; border-bottom:2px solid $white; text-align:center; color:$white; font-family:$font-reg;
			&.txtName{ width:30%;}
			&.txtAge{ width:8%;}
			&.txtGender{ width:30%;}
			&.txtEmail{ width:80%;}
		}
		
		input[type=radio].css-checkbox { position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;}
		input[type=radio].css-checkbox + label.css-label {
			padding-left:1.4em; margin:0 0.5em 0.5em; min-height:30px; display:inline-block; line-height:30px; background-repeat:no-repeat; background-position: 0 0; vertical-align:middle; cursor:pointer;
		}

		input[type=radio].css-checkbox:checked + label.css-label { background-position: 0 -150px;}
		label.css-label {
			background-image:url(../images/checkbox.png);
			-webkit-touch-callout: none; -webkit-user-select: none;	-khtml-user-select: none; -moz-user-select: none;-ms-user-select: none; user-select: none;
		}
		
		.buttons{ margin-top:2em;}
	}
}
/*---------------Static page----------------*/
.common-container{ background:#002a53 url(../images/bg-static.jpg) center bottom no-repeat; background-size:100% auto; padding:12em 0 10%;
	h1{ text-align:center; text-transform:uppercase; font-size:4.2em; font-family:$font-heavy; background:url(../images/seprator.gif) center bottom no-repeat; margin-bottom:1em; padding:0.4em 0; letter-spacing: 2px;}
	p{ font-size:1.6em; line-height:1.5; margin-bottom:2em; letter-spacing:2px;}
	&.prizes{
		background-image:url(../images/bg-prizes.jpg); background-position:center top; background-color:#001627;
	}
}
.how-it-works-steps{ margin:0 0 8em;
	figure{ text-align:center;
		img{ max-width:100%; height:auto; margin-bottom:1em;}
		figcaption{ font-size:2.4em; font-family:$font-bold; text-transform:uppercase; padding:0 0.5em;}
	}	
}
.prize-container{ margin:0 auto 6em; max-width:960px;
	figure{ text-align:center;
		img{ max-width:100%; height:auto; margin-bottom:1em;}		
	}	
	h2{ text-align:center; font-size:2.4em; font-family:$font-bold; text-transform:uppercase; margin-bottom:1em;}
	li{ }
}
.partners-container{ margin:0 auto; max-width:960px;
	figure{ text-align:center;
		img{ max-width:100%; height:auto; margin-bottom:1em;}		
	}
}

.thanks-container{ background:#061119 url(../images/bg-thankyou.jpg) center top no-repeat; background-size:100% auto; padding:12em 0 5%;
	h1{ text-align:center; text-transform:uppercase; font-size:4.2em; font-family:$font-heavy; background:url(../images/seprator.gif) center bottom no-repeat; margin-bottom:1em; padding:0.4em 0;}
	
	.result-area{
		.result{ border-right:1px solid #72c3d8; padding:4em 0;
			h3{  font-size:4em; font-family:$font-heavy; text-transform:uppercase;}
			h4{ font-size:11em; margin:10px 0; font-family:$font-heavy;}
		}
		.copy{ padding:4em 3%;
			h3{ font-size:4.3em; font-family:$font-heavy; text-transform:uppercase; letter-spacing:2px;}
			p{ font-size:2.1em; line-height:1.6; padding:0.6em 0;}
		}
	}
	.share-area{ background:#124a67; border:1px solid $white; margin-top:3em; margin-bottom:5em;
		.icon-send{ width:9%; background:$white;
			img{ max-width:100%; height:auto;}
		}
		.copy{ font-size:2.2em; line-height:1.6; padding:0.6em; width:78%; @include box-sizing; text-align:center;}
		.share{ width:12%;
			a{ display:block; font-family:$font-bold; text-align:center; text-transform:uppercase; padding:0.4em 0;
				&.fb{ background:#003a73;}
				&.tw{ background:#00a7ff;}
			}
		}
	}
}

.why-swim{
	figure{ text-align:center; margin-top:3em; margin-bottom:3em;
		img{ max-width:100%; height:auto; margin-bottom:1em;}
		figcaption{ font-size:1.9em; font-family:$font-bold; }
	}	
}
/*---------------Footer----------------*/

footer{ background:$red; padding:1.5em 0 ; text-align: center;
	.powered{ font-size:1em; color:$white; }
	.copyright{font-size:1.3em; margin-bottom:2em; color:$white;}
	.social{ display:inline-block;
		li{ display:inline-block; margin:0 0.2em;}
		a.fb{ @include icon(1, 15, 'icons-social-big2.png');}
		a.tw{ @include icon(2, 15, 'icons-social-big2.png');}
		a.ig{ @include icon(3, 15, 'icons-social-big2.png');}
	}
}


@media #{$desk} { /*1180px*/
	header{
		.logo{			
			img{ max-width:100%;}
		}
	}
	.common-container{ 
		h1{ font-size:3.8em;}
		p{ font-size:1.5em;}		
	}
	.how-it-works-steps{ 
		figure{
			figcaption{ font-size:2em;}
		}	
	}
	.home-intro-copy{
		h1{ font-size:4em;}	
		h2{ font-size:6em;}
		h3{ font-size:3.4em;}
	}
	.quiz-container{ 
		.quiz-data{ 
			.content { min-height: 36em;
				h1{ font-size:4em;}
				p label{ font-size: 2.6em;}
				p.personal-info{ font-size: 3em;}
				.buttons{ 
					a, button{ font-size:2em;}
				}
			}
			.steps{ margin-top:3em;}
		}
	}
	.thanks-container{ 
		h1{ font-size:3.8em;}
		.result-area{
			.result{ width:30%;
				h3{font-size: 3.6em;}
				h4{ font-size: 10em;}
			}
			.copy{ width:70%;
				p{ font-size:2em;}
			}
		}
		.share-area{ 
			.copy{ font-size:1.8em;}
			.share{
				a{ font-size:2.3em; padding: 0.4em 0;}	
			}
		}
	}
}

@media #{$tablet-landscape} { /*960px*/	
	.non-mobile{ display:none;}
	.mobile{ display: block;}
	header{ width:100%;		
		.logo{  width:100%; padding:0;}
		.menu { float:none; clear:both; text-align:left; width:100%; display:none; margin-top:0; position:absolute; right:0; top:8em; z-index:100;
				ul{ display:block;}
				li{  padding:0; float:none; border:0 none; border-bottom:1px solid $white;
					a{ padding:1em 0; border:0 none; padding:1em; background:$red; color:$white; font-size:1.6em; display:block;}
					a.active::after{ opacity:0;}
				}
		}
		.mobile-toggle{ display:block;}	
		&.open-nav{
			.mobile-toggle{ background-position: -40px 0;}
			.menu{ display:block; }
		}		
	}	
	.home-mobile-banner{ background:url(../images/home-bg.jpg) center top no-repeat; background-size:cover; padding:10em 0;
		.home-intro-copy{ position: relative; top:auto; transform:none;}
	}
	.home-intro-copy{
		h1{ font-size:3.4em;}
		h2{ font-size:4.5em;}
		h3{ font-size:3em;}	
	}
	.common-container{ background-image:url(../images/bg-static-mobile.jpg) }
	.how-it-works-steps{ 
		figure{ padding:0 2%;
			figcaption{ font-size:1.8em;}
		}	
	}
	.prize-container li{ 
		h2{ font-size:2em;}
	}
	
	.quiz-container{ 
		.quiz-data{ 
			.content { min-height: 35em;
				h1{ font-size:3.4em;}
				p label{ font-size: 2.2em;}
				p.personal-info{ font-size: 2.2em;
					input.css-checkbox[type="radio"] + label.css-label{ padding-left: 1.8em;}
				}				
			}
			input.css-checkbox[type="radio"] + label.css-label{ padding-left: 1.8em;}
			
			.steps{ display:none;}
		}
	}
	.thanks-container{ 
		h1{ font-size:3.4em;}
		.result-area{
			.result{ width:34%; padding: 3em 0;
				h3{font-size: 3em;}
				h4{ font-size: 7em;}
			}
			.copy{ width:66%; padding: 3em 4%;
				p{ font-size:1.6em; padding:0;}
				h3{font-size: 3.2em;}
			}
		}
		.share-area{ 
			.icon-send{ width: 16%;}
			.copy{ font-size:1.6em; width: 64%; line-height: 1.4;}
			.share{ width: 20%;
				a{ font-size:1.8em; padding: 0.6em 0;}	
			}
		}
	}
}

@media #{$tablet-portrait} {/*640px*/
	.buttons{
		a, button{ font-size:2em; }	
	}
	header{ 		
		&.launch{ 
			.logo{ float:left; width:90%;}
		}
	}
	.home-intro-copy{
		h1{ font-size:2.8em;}
		h2{ font-size:3.4em;}
		h3{ font-size:2.6em;}
			
		p{ font-size:1.8em;}
		.buttons{
			a{ font-size:2em;}	
		}
	}
	.common-container{ padding-top:10em;
		h1{ font-size:3em;}
		p{ font-size:1.4em;}		
	}
	
	.how-it-works-steps{ margin-bottom:6em;
		figure{ margin-bottom:3em;
			img{ max-width: 160px;}
			figcaption{ font-size:1.6em;}
		}	
	}
	
	.quiz-container{ 
		.quiz-data{ 
			.content { min-height: 35em;
				h1{ font-size:2.8em;}
				p label{ font-size: 1.8em;}
				p.personal-info{ font-size: 1.8em;
					br{ display:none;}
				}				
			}
			.errorMsg{ font-size:1.6em;}
			input.css-checkbox[type="radio"] + label.css-label{ text-align:left;}
			input[type="text"].txtName{ width:95%; margin-bottom:1em;}
			input[type="text"].txtAge{ width:50%;  margin-bottom:1em;}
		}
	}
	
	.thanks-container{ 
		h1{ font-size:2.8em;}
		.result-area{
			.result{ width:100%; float:none; border-right: none; border-bottom: 1px solid #72c3d8; text-align:center;
				h3{font-size: 4em;}
				h4{ font-size: 8.5em;}
			}
			.copy{ width:100%; float:none;
				h3{ text-align:center;}
			}
		}
		.share-area{ 
			.icon-send{ width: 20%;}
			.copy{ font-size:1.5em; width: 80%; }
			.share{ width: 100%; clear:both; float:none;
				a{ font-size:1.8em; padding: 0.6em 0;}	
			}
		}
	}
	.why-swim{
		figure figcaption{ font-size:1.6em; line-height:1.2;}	
	}
	
	footer{ 
		.copyright{ 
			.left, .right{ float:none; text-align:center; margin-bottom:1em;}
		}
	}
	
}

@media #{$mobile} {/*480px*/
	header{ padding:2em 0;
		.logo{ width:80%;}
		
	}	
	.home-mobile-banner { padding: 12em 0;}
	.home-intro-copy{
		h1{ font-size:2.4em; letter-spacing: 4px;}	
		p{ font-size:1.6em;}
	}
	.prize-container h2{ font-size:1.5em; }
	
	.quiz-container{ 
		.quiz-data{ 
			.content { min-height: 35em;
				h1{ font-size:2.4em;}
				p label{ font-size: 1.6em;}
				p.personal-info{ font-size: 1.6em;
					input.css-checkbox[type="radio"] + label.css-label{ padding-left: 2em;}
				}				
			}
			label.css-label{ background-image:url(../images/checkbox-sm.png);}
			input.css-checkbox[type="radio"] + label.css-label{ padding-left: 2em; line-height: 24px;}
			input.css-checkbox[type="radio"]:checked + label.css-label{ background-position:0 -120px;}
		}
	}
}
