article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: ""; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 50%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.8em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - arguments: What: all, Length: 1s, Easing: ease-in-out
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)

------------------------------------------------------------- */
/* ADDS A BROWSER PREFIX TO THE PROPERTY */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BACKGROUND COLOR OPACITY */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSFORM STYLE */
/* TRANSITION */
/* TRIPLE BORDERS */
/* KEYFRAMES */
/* ANIMATION */
.container {
  padding: 0 0;
  margin: 0 auto;
  max-width: 1280px;
  width: 90%; }

@media only screen and (min-width: 641px) {
  .container {
    width: 85%; } }

@media only screen and (min-width: 961px) {
  .container {
    width: 70%; } }

.container .row {
  margin-left: 0;
  margin-right: 0; }

.section {
  padding-top: 1rem;
  padding-bottom: 1rem; }
  .section.no-pad {
    padding: 0; }
  .section.no-pad-bot {
    padding-bottom: 0; }
  .section.no-pad-top {
    padding-top: 0; }

.row {
  margin-left: auto;
  margin-right: auto; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row .col {
    float: left;
    -khtml-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
    .row .col.s1 {
      width: 8.3333333333%;
      margin-left: 0; }
    .row .col.s2 {
      width: 16.6666666667%;
      margin-left: 0; }
    .row .col.s3 {
      width: 25%;
      margin-left: 0; }
    .row .col.s4 {
      width: 33.3333333333%;
      margin-left: 0; }
    .row .col.s5 {
      width: 41.6666666667%;
      margin-left: 0; }
    .row .col.s6 {
      width: 50%;
      margin-left: 0; }
    .row .col.s7 {
      width: 58.3333333333%;
      margin-left: 0; }
    .row .col.s8 {
      width: 66.6666666667%;
      margin-left: 0; }
    .row .col.s9 {
      width: 75%;
      margin-left: 0; }
    .row .col.s10 {
      width: 83.3333333333%;
      margin-left: 0; }
    .row .col.s11 {
      width: 91.6666666667%;
      margin-left: 0; }
    .row .col.s12 {
      width: 100%;
      margin-left: 0; }
    .row .col.offset-s1 {
      margin-left: 8.3333333333%; }
    .row .col.offset-s2 {
      margin-left: 16.6666666667%; }
    .row .col.offset-s3 {
      margin-left: 25%; }
    .row .col.offset-s4 {
      margin-left: 33.3333333333%; }
    .row .col.offset-s5 {
      margin-left: 41.6666666667%; }
    .row .col.offset-s6 {
      margin-left: 50%; }
    .row .col.offset-s7 {
      margin-left: 58.3333333333%; }
    .row .col.offset-s8 {
      margin-left: 66.6666666667%; }
    .row .col.offset-s9 {
      margin-left: 75%; }
    .row .col.offset-s10 {
      margin-left: 83.3333333333%; }
    .row .col.offset-s11 {
      margin-left: 91.6666666667%; }
    .row .col.offset-s12 {
      margin-left: 100%; }
    @media only screen and (min-width: 641px) {
      .row .col.m1 {
        width: 8.3333333333%;
        margin-left: 0; }
      .row .col.m2 {
        width: 16.6666666667%;
        margin-left: 0; }
      .row .col.m3 {
        width: 25%;
        margin-left: 0; }
      .row .col.m4 {
        width: 33.3333333333%;
        margin-left: 0; }
      .row .col.m5 {
        width: 41.6666666667%;
        margin-left: 0; }
      .row .col.m6 {
        width: 50%;
        margin-left: 0; }
      .row .col.m7 {
        width: 58.3333333333%;
        margin-left: 0; }
      .row .col.m8 {
        width: 66.6666666667%;
        margin-left: 0; }
      .row .col.m9 {
        width: 75%;
        margin-left: 0; }
      .row .col.m10 {
        width: 83.3333333333%;
        margin-left: 0; }
      .row .col.m11 {
        width: 91.6666666667%;
        margin-left: 0; }
      .row .col.m12 {
        width: 100%;
        margin-left: 0; }
      .row .col.offset-m1 {
        margin-left: 8.3333333333%; }
      .row .col.offset-m2 {
        margin-left: 16.6666666667%; }
      .row .col.offset-m3 {
        margin-left: 25%; }
      .row .col.offset-m4 {
        margin-left: 33.3333333333%; }
      .row .col.offset-m5 {
        margin-left: 41.6666666667%; }
      .row .col.offset-m6 {
        margin-left: 50%; }
      .row .col.offset-m7 {
        margin-left: 58.3333333333%; }
      .row .col.offset-m8 {
        margin-left: 66.6666666667%; }
      .row .col.offset-m9 {
        margin-left: 75%; }
      .row .col.offset-m10 {
        margin-left: 83.3333333333%; }
      .row .col.offset-m11 {
        margin-left: 91.6666666667%; }
      .row .col.offset-m12 {
        margin-left: 100%; } }
    @media only screen and (min-width: 961px) {
      .row .col.l1 {
        width: 8.3333333333%;
        margin-left: 0; }
      .row .col.l2 {
        width: 16.6666666667%;
        margin-left: 0; }
      .row .col.l3 {
        width: 25%;
        margin-left: 0; }
      .row .col.l4 {
        width: 33.3333333333%;
        margin-left: 0; }
      .row .col.l5 {
        width: 41.6666666667%;
        margin-left: 0; }
      .row .col.l6 {
        width: 50%;
        margin-left: 0; }
      .row .col.l7 {
        width: 58.3333333333%;
        margin-left: 0; }
      .row .col.l8 {
        width: 66.6666666667%;
        margin-left: 0; }
      .row .col.l9 {
        width: 75%;
        margin-left: 0; }
      .row .col.l10 {
        width: 83.3333333333%;
        margin-left: 0; }
      .row .col.l11 {
        width: 91.6666666667%;
        margin-left: 0; }
      .row .col.l12 {
        width: 100%;
        margin-left: 0; }
      .row .col.offset-l1 {
        margin-left: 8.3333333333%; }
      .row .col.offset-l2 {
        margin-left: 16.6666666667%; }
      .row .col.offset-l3 {
        margin-left: 25%; }
      .row .col.offset-l4 {
        margin-left: 33.3333333333%; }
      .row .col.offset-l5 {
        margin-left: 41.6666666667%; }
      .row .col.offset-l6 {
        margin-left: 50%; }
      .row .col.offset-l7 {
        margin-left: 58.3333333333%; }
      .row .col.offset-l8 {
        margin-left: 66.6666666667%; }
      .row .col.offset-l9 {
        margin-left: 75%; }
      .row .col.offset-l10 {
        margin-left: 83.3333333333%; }
      .row .col.offset-l11 {
        margin-left: 91.6666666667%; }
      .row .col.offset-l12 {
        margin-left: 100%; } }

@font-face {
  font-family: 'RalewayBold';
  src: url("../fonts/RalewayBold.eot");
  src: url("../fonts/RalewayBold.eot") format("embedded-opentype"), url("../fonts/RalewayBold.woff2") format("woff2"), url("../fonts/RalewayBold.woff") format("woff"), url("../fonts/RalewayBold.ttf") format("truetype"), url("../fonts/RalewayBold.svg#RalewayBold") format("svg"); }

@font-face {
  font-family: 'RalewayExtraBold';
  src: url("../fonts/RalewayExtraBold.eot");
  src: url("../fonts/RalewayExtraBold.eot") format("embedded-opentype"), url("../fonts/RalewayExtraBold.woff2") format("woff2"), url("../fonts/RalewayExtraBold.woff") format("woff"), url("../fonts/RalewayExtraBold.ttf") format("truetype"), url("../fonts/RalewayExtraBold.svg#RalewayExtraBold") format("svg"); }

@font-face {
  font-family: 'RalewayHeavy';
  src: url("../fonts/RalewayHeavy.eot");
  src: url("../fonts/RalewayHeavy.eot") format("embedded-opentype"), url("../fonts/RalewayHeavy.woff2") format("woff2"), url("../fonts/RalewayHeavy.woff") format("woff"), url("../fonts/RalewayHeavy.ttf") format("truetype"), url("../fonts/RalewayHeavy.svg#RalewayHeavy") format("svg"); }

/*	variables	*/
/* colors */
/* colors */
a, a:focus, a:active, a:hover {
  text-decoration: none;
  outline: 0 none; }

a {
  color: #FFFFFF;
  text-decoration: none; }

input, textarea, button {
  border: 0 none;
  -webkit-appearance: none;
  -webkit-border-radius: 0; }

img {
  -khtml-transition: 0.2s linear ease-in-out;
  transition: 0.2s linear ease-in-out; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
  line-height: 1; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

ol {
  margin: 0;
  padding: 0; }

ul li, p {
  margin: 0;
  padding: 0; }

b, strong {
  font-family: "RalewayBold", sans-serif;
  font-weight: normal; }

::-webkit-input-placeholder {
  color: #FFFFFF; }

:-moz-placeholder {
  color: #FFFFFF;
  opacity: 1; }

::-moz-placeholder {
  color: #FFFFFF;
  opacity: 1; }

:-ms-input-placeholder {
  color: #FFFFFF; }

*:focus {
  outline: none; }

select {
  background: #FFFFFF;
  -webkit-border-radius: 0px; }

/*	@include classes	*/
.clear {
  clear: both; }
  .clear:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.left {
  float: left; }

.right {
  float: right; }

.hide {
  display: none; }

.show {
  display: block; }

.center {
  text-align: center; }

.non-mobile {
  display: block; }

.mobile {
  display: none; }

/*	@exclude mixin	*/
/* ICON */
.buttons {
  text-align: center; }
  .buttons a, .buttons input, .buttons button {
    display: inline-block;
    font-size: 2.4em;
    width: auto;
    font-family: "RalewayExtraBold", sans-serif;
    background: #ed3123;
    color: #FFFFFF;
    font-family: "RalewayHeavy", sans-serif;
    text-transform: uppercase;
    padding: 0.7em 1.5em;
    margin-top: 0.2em;
    line-height: 1;
    -khtml-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
  .buttons.margin-bot {
    margin-bottom: 5em; }

/*	page 	*/
body {
  color: #FFFFFF;
  background: #170806;
  font-family: "RalewayBold", sans-serif;
  font-size: 10px;
  line-height: 1; }

.main-container {
  overflow: hidden;
  /*background: #035f93; */
  position: relative; }

.wrapper-area {
  max-width: 1110px;
  margin: 0 auto;
  width: 90%; }

header {
  text-align: center;
  padding: 4em 0;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%; }
  header .logo {
    float: left;
    width: 35%;
    text-align: left;
    margin-top: 0; }
  header .menu {
    float: right;
    width: 65%;
    text-align: right; }
    header .menu ul {
      display: inline-block; }
    header .menu li {
      display: block;
      float: left;
      padding: 0 2em;
      border-right: 2px solid #FFFFFF; }
      header .menu li a {
        font-size: 1.8em;
        text-transform: uppercase;
        display: block;
        position: relative;
        padding: 0; }
        header .menu li a::after {
          position: absolute;
          bottom: -8px;
          left: 0;
          width: 100%;
          height: 2px;
          background: #FFFFFF;
          content: '';
          opacity: 0;
          -khtml-transform: translateX(-100px);
          transform: translateX(-100px);
          -khtml-transition: opacity 0.3s ease;
          transition: opacity 0.3s ease;
          -khtml-transition: all 0.3s ease;
          transition: all 0.3s ease; }
        header .menu li a:hover::after {
          opacity: 1;
          -khtml-transform: translateX(0px);
          transform: translateX(0px); }
        header .menu li a.active::after {
          opacity: 1;
          -khtml-transform: translateX(0px);
          transform: translateX(0px); }
      header .menu li:last-child {
        border-right: 0 none; }

.mobile-toggle {
  display: none;
  cursor: pointer;
  background: url(../images/mobile-menu.png) 0 0 no-repeat;
  position: absolute;
  z-index: 10;
  right: 5%;
  width: 40px;
  height: 40px;
  -khtml-transition: all 200ms ease-in;
  transition: all 200ms ease-in; }

.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg); }

/*---------------Home----------------*/
.home-banner .slick-slide img {
  width: 100%;
  height: auto; }

.home-banner img {
  width: 100%;
  height: auto;
  display: block; }

.home-intro-copy {
  /*@include vertical-align;*/
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 40%; }
  .home-intro-copy h1 {
    font-family: "RalewayHeavy", sans-serif;
    font-size: 4.5em;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-bottom: 0.1em; }
  .home-intro-copy h2 {
    font-family: "RalewayHeavy", sans-serif;
    font-size: 8em;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-bottom: 0.5em; }
  .home-intro-copy h3 {
    font-family: "RalewayHeavy", sans-serif;
    font-size: 4.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1em; }
  .home-intro-copy p {
    font-size: 2.3em;
    letter-spacing: 3px;
    margin: 1em auto;
    width: 90%;
    line-height: 1.2; }

/*---------------Quiz----------------*/
.quiz-container {
  background: #0e2e47 url(../video/ocean.jpg) no-repeat;
  background-size: cover;
  padding: 10em 0 5em; }
  .quiz-container .quiz-data {
    /*---Form----*/ }
    .quiz-container .quiz-data .vertical-middle {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      left: 0; }
    .quiz-container .quiz-data .content {
      display: block;
      min-height: 40em;
      overflow: hidden;
      position: relative; }
      .quiz-container .quiz-data .content .body {
        float: left;
        height: 100%;
        padding: 0 2.5%;
        position: absolute;
        width: 95%; }
      .quiz-container .quiz-data .content h1 {
        text-align: center;
        text-transform: uppercase;
        font-size: 5em;
        font-family: "RalewayHeavy", sans-serif;
        background: url(../images/seprator.gif) center bottom no-repeat;
        margin-bottom: 0.5em;
        padding: 0.4em 0; }
      .quiz-container .quiz-data .content p {
        text-align: center;
        margin-bottom: 0;
        font-family: "RalewayExtraBold", sans-serif;
        letter-spacing: 2px;
        text-transform: uppercase; }
        .quiz-container .quiz-data .content p label {
          display: inline-block;
          font-size: 3.2em; }
        .quiz-container .quiz-data .content p.personal-info {
          font-size: 3.8em;
          line-height: 1.8; }
          .quiz-container .quiz-data .content p.personal-info input {
            font-size: 0.7em; }
          .quiz-container .quiz-data .content p.personal-info input.css-checkbox[type="radio"] + label.css-label {
            font-size: 1em;
            font-family: "RalewayBold", sans-serif;
            margin: 0 0.1em 0.1em;
            padding-left: 1em;
            text-transform: capitalize; }
          .quiz-container .quiz-data .content p.personal-info span {
            border-bottom: 2px solid #FFFFFF; }
    .quiz-container .quiz-data .steps {
      max-width: 910px;
      margin: 5em auto 0;
      background: url(../images/quiz-steps-bg.png) center bottom no-repeat;
      background-size: 100% auto; }
      .quiz-container .quiz-data .steps ul li {
        display: inline-block;
        width: 14.28%;
        padding-bottom: 1em;
        position: relative; }
        .quiz-container .quiz-data .steps ul li .number {
          display: none;
          width: 100%;
          height: auto;
          min-height: 64px;
          width: 100%;
          background-size: contain;
          background-position: center center;
          background-repeat: no-repeat; }
          .quiz-container .quiz-data .steps ul li .number label {
            display: none; }
        .quiz-container .quiz-data .steps ul li .current-info {
          left: -999em;
          position: absolute; }
        .quiz-container .quiz-data .steps ul li:nth-child(1) .number {
          background-image: url(../images/icon-swim-step1.png); }
        .quiz-container .quiz-data .steps ul li:nth-child(2) .number {
          background-image: url(../images/icon-swim-step2.png); }
        .quiz-container .quiz-data .steps ul li:nth-child(3) .number {
          background-image: url(../images/icon-swim-step3.png); }
        .quiz-container .quiz-data .steps ul li:nth-child(4) .number {
          background-image: url(../images/icon-swim-step4.png); }
        .quiz-container .quiz-data .steps ul li:nth-child(5) .number {
          background-image: url(../images/icon-swim-step2.png); }
        .quiz-container .quiz-data .steps ul li:nth-child(6) .number {
          background-image: url(../images/icon-swim-step3.png); }
        .quiz-container .quiz-data .steps ul li:nth-child(7) .number {
          background-image: url(../images/icon-swim-step4.png); }
        .quiz-container .quiz-data .steps ul li.current .number {
          display: block; }
      .quiz-container .quiz-data .steps.nonswimmer ul li:nth-child(2) .number {
        background-image: url(../images/icon-nonswim-step2.png); }
      .quiz-container .quiz-data .steps.nonswimmer ul li:nth-child(3) .number {
        background-image: url(../images/icon-nonswim-step3.png); }
      .quiz-container .quiz-data .steps.nonswimmer ul li:nth-child(4) .number {
        background-image: url(../images/icon-nonswim-step4.png); }
      .quiz-container .quiz-data .steps.nonswimmer ul li:nth-child(5) .number {
        background-image: url(../images/icon-nonswim-step2.png); }
      .quiz-container .quiz-data .steps.nonswimmer ul li:nth-child(6) .number {
        background-image: url(../images/icon-nonswim-step3.png); }
      .quiz-container .quiz-data .steps.nonswimmer ul li:nth-child(7) .number {
        background-image: url(../images/icon-nonswim-step4.png); }
    .quiz-container .quiz-data .errorMsg {
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
      color: #ed3123;
      text-align: center;
      font-size: 2em; }
    .quiz-container .quiz-data input[type="text"] {
      background: none;
      border-bottom: 2px solid #FFFFFF;
      text-align: center;
      color: #FFFFFF;
      font-family: "RalewayBold", sans-serif; }
      .quiz-container .quiz-data input[type="text"].txtName {
        width: 30%; }
      .quiz-container .quiz-data input[type="text"].txtAge {
        width: 8%; }
      .quiz-container .quiz-data input[type="text"].txtGender {
        width: 30%; }
      .quiz-container .quiz-data input[type="text"].txtEmail {
        width: 80%; }
    .quiz-container .quiz-data input[type=radio].css-checkbox {
      position: absolute;
      z-index: -1000;
      left: -1000px;
      overflow: hidden;
      clip: rect(0 0 0 0);
      height: 1px;
      width: 1px;
      margin: -1px;
      padding: 0;
      border: 0; }
    .quiz-container .quiz-data input[type=radio].css-checkbox + label.css-label {
      padding-left: 1.4em;
      margin: 0 0.5em 0.5em;
      min-height: 30px;
      display: inline-block;
      line-height: 30px;
      background-repeat: no-repeat;
      background-position: 0 0;
      vertical-align: middle;
      cursor: pointer; }
    .quiz-container .quiz-data input[type=radio].css-checkbox:checked + label.css-label {
      background-position: 0 -150px; }
    .quiz-container .quiz-data label.css-label {
      background-image: url(../images/checkbox.png);
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    .quiz-container .quiz-data .buttons {
      margin-top: 2em; }

/*---------------Static page----------------*/
.common-container {
  background: #002a53 url(../images/bg-static.jpg) center bottom no-repeat;
  background-size: 100% auto;
  padding: 12em 0 10%; }
  .common-container h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 4.2em;
    font-family: "RalewayHeavy", sans-serif;
    background: url(../images/seprator.gif) center bottom no-repeat;
    margin-bottom: 1em;
    padding: 0.4em 0;
    letter-spacing: 2px; }
  .common-container p {
    font-size: 1.6em;
    line-height: 1.5;
    margin-bottom: 2em;
    letter-spacing: 2px; }
  .common-container.prizes {
    background-image: url(../images/bg-prizes.jpg);
    background-position: center top;
    background-color: #001627; }

.how-it-works-steps {
  margin: 0 0 8em; }
  .how-it-works-steps figure {
    text-align: center; }
    .how-it-works-steps figure img {
      max-width: 100%;
      height: auto;
      margin-bottom: 1em; }
    .how-it-works-steps figure figcaption {
      font-size: 2.4em;
      font-family: "RalewayExtraBold", sans-serif;
      text-transform: uppercase;
      padding: 0 0.5em; }

.prize-container {
  margin: 0 auto 6em;
  max-width: 960px; }
  .prize-container figure {
    text-align: center; }
    .prize-container figure img {
      max-width: 100%;
      height: auto;
      margin-bottom: 1em; }
  .prize-container h2 {
    text-align: center;
    font-size: 2.4em;
    font-family: "RalewayExtraBold", sans-serif;
    text-transform: uppercase;
    margin-bottom: 1em; }

.partners-container {
  margin: 0 auto;
  max-width: 960px; }
  .partners-container figure {
    text-align: center; }
    .partners-container figure img {
      max-width: 100%;
      height: auto;
      margin-bottom: 1em; }

.thanks-container {
  background: #061119 url(../images/bg-thankyou.jpg) center top no-repeat;
  background-size: 100% auto;
  padding: 12em 0 5%; }
  .thanks-container h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 4.2em;
    font-family: "RalewayHeavy", sans-serif;
    background: url(../images/seprator.gif) center bottom no-repeat;
    margin-bottom: 1em;
    padding: 0.4em 0; }
  .thanks-container .result-area .result {
    border-right: 1px solid #72c3d8;
    padding: 4em 0; }
    .thanks-container .result-area .result h3 {
      font-size: 4em;
      font-family: "RalewayHeavy", sans-serif;
      text-transform: uppercase; }
    .thanks-container .result-area .result h4 {
      font-size: 11em;
      margin: 10px 0;
      font-family: "RalewayHeavy", sans-serif; }
  .thanks-container .result-area .copy {
    padding: 4em 3%; }
    .thanks-container .result-area .copy h3 {
      font-size: 4.3em;
      font-family: "RalewayHeavy", sans-serif;
      text-transform: uppercase;
      letter-spacing: 2px; }
    .thanks-container .result-area .copy p {
      font-size: 2.1em;
      line-height: 1.6;
      padding: 0.6em 0; }
  .thanks-container .share-area {
    background: #124a67;
    border: 1px solid #FFFFFF;
    margin-top: 3em;
    margin-bottom: 5em; }
    .thanks-container .share-area .icon-send {
      width: 9%;
      background: #FFFFFF; }
      .thanks-container .share-area .icon-send img {
        max-width: 100%;
        height: auto; }
    .thanks-container .share-area .copy {
      font-size: 2.2em;
      line-height: 1.6;
      padding: 0.6em;
      width: 78%;
      -khtml-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      text-align: center; }
    .thanks-container .share-area .share {
      width: 12%; }
      .thanks-container .share-area .share a {
        display: block;
        font-family: "RalewayExtraBold", sans-serif;
        text-align: center;
        text-transform: uppercase;
        padding: 0.4em 0; }
        .thanks-container .share-area .share a.fb {
          background: #003a73; }
        .thanks-container .share-area .share a.tw {
          background: #00a7ff; }

.why-swim figure {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em; }
  .why-swim figure img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1em; }
  .why-swim figure figcaption {
    font-size: 1.9em;
    font-family: "RalewayExtraBold", sans-serif; }

/*---------------Footer----------------*/
footer {
  background: #ed3123;
  padding: 1.5em 0;
  text-align: center; }
  footer .powered {
    font-size: 1em;
    color: #FFFFFF; }
  footer .copyright {
    font-size: 1.3em;
    margin-bottom: 2em;
    color: #FFFFFF; }
  footer .social {
    display: inline-block; }
    footer .social li {
      display: inline-block;
      margin: 0 0.2em; }
    footer .social a.fb {
      line-height: 1;
      vertical-align: middle; }
      footer .social a.fb:before {
        /*Number of icons going across*/
        background-image: url(../images/icons-social-big2.png);
        background-size: 300%;
        background-repeat: no-repeat;
        width: 15px;
        height: 15px;
        background-position: 0% 0;
        content: "";
        display: inline-block;
        line-height: 15px;
        vertical-align: middle;
        /*margin-right: 3.75px; */ }
    footer .social a.tw {
      line-height: 1;
      vertical-align: middle; }
      footer .social a.tw:before {
        /*Number of icons going across*/
        background-image: url(../images/icons-social-big2.png);
        background-size: 300%;
        background-repeat: no-repeat;
        width: 15px;
        height: 15px;
        background-position: 50% 0;
        content: "";
        display: inline-block;
        line-height: 15px;
        vertical-align: middle;
        /*margin-right: 3.75px; */ }
    footer .social a.ig {
      line-height: 1;
      vertical-align: middle; }
      footer .social a.ig:before {
        /*Number of icons going across*/
        background-image: url(../images/icons-social-big2.png);
        background-size: 300%;
        background-repeat: no-repeat;
        width: 15px;
        height: 15px;
        background-position: 100% 0;
        content: "";
        display: inline-block;
        line-height: 15px;
        vertical-align: middle;
        /*margin-right: 3.75px; */ }

@media screen and (max-width: 1180px) {
  /*1180px*/
  header .logo img {
    max-width: 100%; }
  .common-container h1 {
    font-size: 3.8em; }
  .common-container p {
    font-size: 1.5em; }
  .how-it-works-steps figure figcaption {
    font-size: 2em; }
  .home-intro-copy h1 {
    font-size: 4em; }
  .home-intro-copy h2 {
    font-size: 6em; }
  .home-intro-copy h3 {
    font-size: 3.4em; }
  .quiz-container .quiz-data .content {
    min-height: 36em; }
    .quiz-container .quiz-data .content h1 {
      font-size: 4em; }
    .quiz-container .quiz-data .content p label {
      font-size: 2.6em; }
    .quiz-container .quiz-data .content p.personal-info {
      font-size: 3em; }
    .quiz-container .quiz-data .content .buttons a, .quiz-container .quiz-data .content .buttons button {
      font-size: 2em; }
  .quiz-container .quiz-data .steps {
    margin-top: 3em; }
  .thanks-container h1 {
    font-size: 3.8em; }
  .thanks-container .result-area .result {
    width: 30%; }
    .thanks-container .result-area .result h3 {
      font-size: 3.6em; }
    .thanks-container .result-area .result h4 {
      font-size: 10em; }
  .thanks-container .result-area .copy {
    width: 70%; }
    .thanks-container .result-area .copy p {
      font-size: 2em; }
  .thanks-container .share-area .copy {
    font-size: 1.8em; }
  .thanks-container .share-area .share a {
    font-size: 2.3em;
    padding: 0.4em 0; } }

@media screen and (max-width: 960px) {
  /*960px*/
  .non-mobile {
    display: none; }
  .mobile {
    display: block; }
  header {
    width: 100%; }
    header .logo {
      width: 100%;
      padding: 0; }
    header .menu {
      float: none;
      clear: both;
      text-align: left;
      width: 100%;
      display: none;
      margin-top: 0;
      position: absolute;
      right: 0;
      top: 8em;
      z-index: 100; }
      header .menu ul {
        display: block; }
      header .menu li {
        padding: 0;
        float: none;
        border: 0 none;
        border-bottom: 1px solid #FFFFFF; }
        header .menu li a {
          padding: 1em 0;
          border: 0 none;
          padding: 1em;
          background: #ed3123;
          color: #FFFFFF;
          font-size: 1.6em;
          display: block; }
        header .menu li a.active::after {
          opacity: 0; }
    header .mobile-toggle {
      display: block; }
    header.open-nav .mobile-toggle {
      background-position: -40px 0; }
    header.open-nav .menu {
      display: block; }
  .home-mobile-banner {
    background: url(../images/home-bg.jpg) center top no-repeat;
    background-size: cover;
    padding: 10em 0; }
    .home-mobile-banner .home-intro-copy {
      position: relative;
      top: auto;
      transform: none; }
  .home-intro-copy h1 {
    font-size: 3.4em; }
  .home-intro-copy h2 {
    font-size: 4.5em; }
  .home-intro-copy h3 {
    font-size: 3em; }
  .common-container {
    background-image: url(../images/bg-static-mobile.jpg); }
  .how-it-works-steps figure {
    padding: 0 2%; }
    .how-it-works-steps figure figcaption {
      font-size: 1.8em; }
  .prize-container li h2 {
    font-size: 2em; }
  .quiz-container .quiz-data .content {
    min-height: 35em; }
    .quiz-container .quiz-data .content h1 {
      font-size: 3.4em; }
    .quiz-container .quiz-data .content p label {
      font-size: 2.2em; }
    .quiz-container .quiz-data .content p.personal-info {
      font-size: 2.2em; }
      .quiz-container .quiz-data .content p.personal-info input.css-checkbox[type="radio"] + label.css-label {
        padding-left: 1.8em; }
  .quiz-container .quiz-data input.css-checkbox[type="radio"] + label.css-label {
    padding-left: 1.8em; }
  .quiz-container .quiz-data .steps {
    display: none; }
  .thanks-container h1 {
    font-size: 3.4em; }
  .thanks-container .result-area .result {
    width: 34%;
    padding: 3em 0; }
    .thanks-container .result-area .result h3 {
      font-size: 3em; }
    .thanks-container .result-area .result h4 {
      font-size: 7em; }
  .thanks-container .result-area .copy {
    width: 66%;
    padding: 3em 4%; }
    .thanks-container .result-area .copy p {
      font-size: 1.6em;
      padding: 0; }
    .thanks-container .result-area .copy h3 {
      font-size: 3.2em; }
  .thanks-container .share-area .icon-send {
    width: 16%; }
  .thanks-container .share-area .copy {
    font-size: 1.6em;
    width: 64%;
    line-height: 1.4; }
  .thanks-container .share-area .share {
    width: 20%; }
    .thanks-container .share-area .share a {
      font-size: 1.8em;
      padding: 0.6em 0; } }

@media screen and (max-width: 640px) {
  /*640px*/
  .buttons a, .buttons button {
    font-size: 2em; }
  header.launch .logo {
    float: left;
    width: 90%; }
  .home-intro-copy h1 {
    font-size: 2.8em; }
  .home-intro-copy h2 {
    font-size: 3.4em; }
  .home-intro-copy h3 {
    font-size: 2.6em; }
  .home-intro-copy p {
    font-size: 1.8em; }
  .home-intro-copy .buttons a {
    font-size: 2em; }
  .common-container {
    padding-top: 10em; }
    .common-container h1 {
      font-size: 3em; }
    .common-container p {
      font-size: 1.4em; }
  .how-it-works-steps {
    margin-bottom: 6em; }
    .how-it-works-steps figure {
      margin-bottom: 3em; }
      .how-it-works-steps figure img {
        max-width: 160px; }
      .how-it-works-steps figure figcaption {
        font-size: 1.6em; }
  .quiz-container .quiz-data .content {
    min-height: 35em; }
    .quiz-container .quiz-data .content h1 {
      font-size: 2.8em; }
    .quiz-container .quiz-data .content p label {
      font-size: 1.8em; }
    .quiz-container .quiz-data .content p.personal-info {
      font-size: 1.8em; }
      .quiz-container .quiz-data .content p.personal-info br {
        display: none; }
  .quiz-container .quiz-data .errorMsg {
    font-size: 1.6em; }
  .quiz-container .quiz-data input.css-checkbox[type="radio"] + label.css-label {
    text-align: left; }
  .quiz-container .quiz-data input[type="text"].txtName {
    width: 95%;
    margin-bottom: 1em; }
  .quiz-container .quiz-data input[type="text"].txtAge {
    width: 50%;
    margin-bottom: 1em; }
  .thanks-container h1 {
    font-size: 2.8em; }
  .thanks-container .result-area .result {
    width: 100%;
    float: none;
    border-right: none;
    border-bottom: 1px solid #72c3d8;
    text-align: center; }
    .thanks-container .result-area .result h3 {
      font-size: 4em; }
    .thanks-container .result-area .result h4 {
      font-size: 8.5em; }
  .thanks-container .result-area .copy {
    width: 100%;
    float: none; }
    .thanks-container .result-area .copy h3 {
      text-align: center; }
  .thanks-container .share-area .icon-send {
    width: 20%; }
  .thanks-container .share-area .copy {
    font-size: 1.5em;
    width: 80%; }
  .thanks-container .share-area .share {
    width: 100%;
    clear: both;
    float: none; }
    .thanks-container .share-area .share a {
      font-size: 1.8em;
      padding: 0.6em 0; }
  .why-swim figure figcaption {
    font-size: 1.6em;
    line-height: 1.2; }
  footer .copyright .left, footer .copyright .right {
    float: none;
    text-align: center;
    margin-bottom: 1em; } }

@media screen and (max-width: 480px) {
  /*480px*/
  header {
    padding: 2em 0; }
    header .logo {
      width: 80%; }
  .home-mobile-banner {
    padding: 12em 0; }
  .home-intro-copy h1 {
    font-size: 2.4em;
    letter-spacing: 4px; }
  .home-intro-copy p {
    font-size: 1.6em; }
  .prize-container h2 {
    font-size: 1.5em; }
  .quiz-container .quiz-data .content {
    min-height: 35em; }
    .quiz-container .quiz-data .content h1 {
      font-size: 2.4em; }
    .quiz-container .quiz-data .content p label {
      font-size: 1.6em; }
    .quiz-container .quiz-data .content p.personal-info {
      font-size: 1.6em; }
      .quiz-container .quiz-data .content p.personal-info input.css-checkbox[type="radio"] + label.css-label {
        padding-left: 2em; }
  .quiz-container .quiz-data label.css-label {
    background-image: url(../images/checkbox-sm.png); }
  .quiz-container .quiz-data input.css-checkbox[type="radio"] + label.css-label {
    padding-left: 2em;
    line-height: 24px; }
  .quiz-container .quiz-data input.css-checkbox[type="radio"]:checked + label.css-label {
    background-position: 0 -120px; } }

/*# sourceMappingURL=site.css.map */
